*
{
    padding: 0;
    margin: 0;
}
.joseph{
    background-image: url("./images/bac.jpg");
}

.goma{
    background-color: lightskyblue;
    width: 80px;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    height: 109vh;
    min-width: 100px;
    min-height: 100px;

}
.africa{
    background-image:linear-gradient(to top,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url("./images/12.jpg");
    width: 80px;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    height: 109vh;
    min-width: 100px;
    min-height: 100px;

    
}
.congo{
    background-color: lightskyblue;
}
p{
    color: red;
    text-align: center;
    width: 60%;
}
ul{
    color: white;
    text-align: center;
}
.menu1{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: red;

}

}
.DURE::before{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    width: 20px;
    min-width: 10px;
}
.img{
    width: 14%;
    margin: 20px;
}
.boss{

    margin: 20px;
    width: 50%;
    height: 80%;
}
.go{
    color:red;
    text-align: left;
    width: 60%;
}
.red{
    color: black;
    text-align: left;
}
.tp{
    text-align: left;
    color: whitesmoke;
}
